<div class="technology-container">
                    <h2>For Design</h2>
                    <ul class="list-unstyled technology-list">
                       
                        <li class="technology-list__item">
                            <a href="#">
                                <img src="{{img}}/technology/xd.svg" alt="XD">
                            </a>
                        </li>
                        <li class="technology-list__item">
                            <a href="#">
                                <img src="{{img}}/technology/illustrator.svg" alt="illustrator">
                            </a>
                        </li>
                        <li class="technology-list__item">
                            <a href="#">
                                <img src="{{img}}/technology/photoshop.svg" alt="photoshop">
                            </a>
                        </li>
                        <li class="technology-list__item">
                            <a href="#">
                                <img src="{{img}}/technology/xd.svg" alt="XD">
                            </a>
                        </li>
                        <li class="technology-list__item">
                            <a href="#">
                                <img src="{{img}}/technology/illustrator.svg" alt="illustrator">
                            </a>
                        </li>
                        <li class="technology-list__item">
                            <a href="#">
                                <img src="{{img}}/technology/photoshop.svg" alt="photoshop">
                            </a>
                        </li>
                       
                    </ul>
                </div>